[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = {extras = ["async"], version = "*"}
tortoise-orm = {extras = ["aiomysql"], version = "*"}
mysqlclient = "*"
pony = "*"

[dev-packages]
black = "*"
python-dotenv = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
